body {
  font-family: 'Jost', sans-serif;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

$color-red: #ff2e63;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;
$color-purple: #512b58;

#brand {
  color: $color-purple;
}

.sidebar-container {
  background: $color-bg;
  color: $color-red;
}


// #sidebar {
//   position: fixed;
// }

.sidebar-navigation {
  background: $color-bg;

	ul {
		text-align: left;
		color: $color-white;

		li a{
			padding: 20px 0;
			cursor: pointer;
			color: $color-red;
      display: block;

			svg {
				font-size: 20px;
				transition: all ease 450ms;
			}

			&:hover {
				color: $color-purple;
			}

      &:after {
        backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
      }

			&.active {
				background-color: $color-white;

				svg {
					color: $color-white;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
  #sidebar {
    position: relative;
  }

  #brand {
    padding-top: 10px;
  }
}
